#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.card {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  width: 350px;
  overflow: hidden;

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    font-size: 20px;
  }
}